[include shell_command.cfg]
# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
#[include HermitCrab_Canbus_pins.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg]
#[include MicroProbe.cfg]
[include stealthburner_leds.cfg]
#[include adxl.cfg]
[include canbus-ebb.cfg]
[gcode_arcs]


[printer]
kinematics: corexz
max_velocity: 300
max_accel: 2000
square_corner_velocity: 5
max_z_velocity: 5
max_z_accel: 100 # Paste here and save your klipper configuration

#[fan]
#pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1D0050000350415339373620-if00


[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
rotation_distance: 32
#full_steps_per_rotation: 200
microsteps: 16
endstop_pin: EBBCan: PB6
position_min: 0
position_max: 208
position_endstop: 208
homing_speed: 40
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.58
interpolate: False
stealthchop_threshold: 0

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
#endstop_pin: ^PC1
position_endstop: -12
position_min: -40
position_max: 210
homing_speed: 30
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0


[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999
diag_pin: ^PC1                                 # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 80                              # 255 is most sensitive value, 0 is least sensitive

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
rotation_distance: 32
#full_steps_per_rotation: 200
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 250
homing_speed: 40
position_min: -3.0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.58
interpolate: False
stealthchop_threshold: 0


[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
min_temp: 0
max_temp: 130


######
# Electronics Fan
# FAN1 Connector
###############
[controller_fan Motherboard_fan]
pin: PB15
max_power: 1.00
kick_start_time: 0.200
heater: heater_bed



#[bltouch]
[probe]

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 15, 15
mesh_max: 192, 194
probe_count: 3,3
algorithm: bicubic
fade_start: 1
fade_end: 5
fade_target: 0
adaptive_margin: 5

[screws_tilt_adjust]
screw1: 16,7
screw1_name: front left screw
screw2: 184,7
screw2_name: front right screw
screw3: 184,177
screw3_name: rear right screw
screw4: 16,177
screw4_name: rear left screw
horizontal_move_z: 10
speed: 100
screw_thread: CW-M4

[safe_z_home]
home_xy_position: 117.5,104.5 # Change coordinates to the center of your print bed
z_hop: 10                 # Move up 10mm z_hop_speed: 5

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[exclude_object]

## Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 40.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : -10.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 15.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 5  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 180  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.974
#*# pid_ki = 2.378
#*# pid_kd = 65.556
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.096
#*# pid_ki = 0.719
#*# pid_kd = 1519.391
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.020000, -0.050000, 0.010000
#*# 	  0.010000, -0.020000, 0.040000
#*# 	  -0.040000, -0.040000, 0.010000
#*# tension = 0.2
#*# min_x = 39.480999999999995
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 29.111
#*# x_count = 3
#*# max_y = 178.69100000000003
#*# mesh_x_pps = 2
#*# max_x = 169.341
#*#
#*# [probe]
#*# z_offset = 1.270
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 72.6
